<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descriptografar</title>
</head>
<body>
    <form action="{{ url_for('decrypt')}}" method="post">
        <label for="password"><b>Senha Criptografada</b></label><br>
        <input type="password" name="password" id="password" placeholder="Sua senha" required><br>
        <button type="submit">Descriptografar</button><br>
    </form>
    <br>
    <p><b>Senha Descriptografada: </b></p>
    <p>{{ resultado }}</p>
</body>
</html>