<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',    filename='style.css') }}">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Entrar</h1>
        <p>{{ variavel }}</p>
    </header>
    <div class="login-card">
        <form action="{{ url_for('login')}}" method="post">
            <label for="nome"><b>Nome</b></label><br>
            <input type="text" name="nome" id="nome" placeholder="Digite seu e-mail" required><br>
            <label for="password"><b>Senha</b></label><br>
            <input type="password" name="password" id="password" placeholder="Sua senha" required><br>
            <button type="submit">Registrar</button>
        </form><br>
        <p>Não tem usuário?</p>
        <a href="{{ url_for('register') }}">Cadastrar</a>
    </div>
    
</body>
</html>