<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add layer</title>
</head>
<body>
    <h1>Adicionar layer (json)</h1>
    <form action="/add_markers" method="POST" enctype="multipart/form-data">
        <input type="file" name="json_file" accept=".json"><br>
        <input type="submit" value="Add Markers">
    </form>
    <div id="map"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    {{ folium_map | safe }}
</body>
</html>
